<p id="notice"><%= notice %></p>

<h1>Listing Filiais</h1>

<table>
  <thead>
    <tr>
      <th>Nomefilial</th>
      <th>Uf</th>
      <th>Telefone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filiais.each do |filial| %>
      <tr>
        <td><%= filial.nomefilial %></td>
        <td><%= filial.uf %></td>
        <td><%= filial.telefone %></td>
        <td><%= link_to 'Show', filial %></td>
        <td><%= link_to 'Edit', edit_filial_path(filial) %></td>
        <td><%= link_to 'Destroy', filial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filial', new_filial_path %>
