<p id="notice"><%= notice %></p>

<p>
  <strong>Codsetor:</strong>
  <%= @setor.codsetor %>
</p>

<p>
  <strong>Nomesetor:</strong>
  <%= @setor.nomesetor %>
</p>

<%= link_to 'Edit', edit_setor_path(@setor) %> |
<%= link_to 'Back', setores_path %>
