<p id="notice"><%= notice %></p>

<p>
  <strong>Matricula:</strong>
  <%= @funcionario.matricula %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @funcionario.endereco %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @funcionario.telefone %>
</p>

<p>
  <strong>Salario:</strong>
  <%= @funcionario.salario %>
</p>
<p>
  <strong>Sexo:</strong>
  <%= @funcionario.sexo %>
</p>
<%= link_to 'Alterar', edit_funcionario_path(@funcionario) %> |
<%= link_to 'Voltar', funcionarios_path %>
