<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <ul class="nav navbar-pills navbar-left">
         <li><%= image_tag "logo-iff-small.png", :height => '100%' %></li>
      </ul>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-pills navbar-left">
        <li><%= link_to ' Empresa', paginas_index_path %></li>
        <li><%= link_to ' Localização', paginas_localizacao_path %></li>     
      </ul>
      <% if usuario_signed_in? %>
        <ul class="nav nav-pills navbar-right">
          <li><%= link_to 'Bem vindo:'+current_usuario.email, edit_usuario_registration_path%></li>
          <li><%= link_to "Logout", destroy_usuario_session_path, method: :delete  %></li>
        </ul>
      <% else %>
        <ul class="nav nav-pills navbar-right">
          <li><%= link_to "Cadastre-se", new_usuario_registration_path, class: 'navbar-link' %>  </li>
          <li><%= link_to "Login", new_usuario_session_path, :class => 'navbar-link'  %></li>
        </ul>
      <% end %>
    </div>
  </div><!-- /.container-fluid -->
</nav>
